@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;
$bg_color: rgb(255, 255, 255);
$footer_color: rgb(72, 70, 70);
$shadow_color: rgb(91, 82, 114);

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items:  center;
}

@mixin box-shadow{
    box-shadow: 5px 5px 15px $shadow_color;
    &:hover{
        box-shadow: 5px 5px 20px darken($shadow_color, 30%);
    }
}

    /* LOGO CHARGEMENT */

.loader__cont{
    @include flex-center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: 3;
    pointer-events: none;
    animation: loading 3000ms forwards;
}
.loader {
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &__bar:nth-child(odd) {
        width: 100%;
        height: 6px;
        animation: bars 1000ms infinite;
        animation-direction: alternate;
        background-color: $primary_color;
        animation-delay: 300ms;
        border-radius: 20px;
    }
    &__bar:nth-child(even) {
        width: 100%;
        height: 9px;
        animation: bars 1000ms infinite;
        animation-direction: alternate-reverse;
        background-color: $secondary_color;
        animation-delay: 300ms;
        border-radius: 20px;
    }
}

@keyframes site_opacity {

    0%{
        opacity: 0.2;
    }
    75%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}

@keyframes bars {
    from{
        transform: translateX(50%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes loading {
    0%{
        opacity: 1;
    }
    75%{
        opacity: 0.8;
    }
    100%{
        opacity: 0;
    }
}

/* ATTRIBUTS COMMUNS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.site_entier {
    height: 100vh;
    max-width: 1440px;
    background-color: $bg_color;
    font-family: 'Raleway', sans-serif;
    margin-left: auto;
    margin-right: auto;
   
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 26px;
    }
    h3{
        font-size: 24px;
    }
    h4{
        font-size: 16px;
        font-weight: bold;
    }
    p{
        font-size: 16px;
    }
}

.animation{
    animation: site_opacity 3000ms forwards;
}

.bold{
    font-weight: bold;
}

header {
    text-align: center;
    padding: 10px;
    font-family: 'Shrikhand', sans-serif;
    }

.footer{
    background-color: $footer_color;
    color: $bg_color;
    height: 205px;
    line-height: 30px;
    h3{
        font-family: Shrikhand;
        padding: 22px 0px 15px 0px;
    }
    &__cont{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        a{
            text-decoration: none;
            color: $bg_color;
        }
    }
    &__box{
        @include flex-center;
        justify-content: flex-start;
    }
    &__icon1{
        margin-right: 21px;
    }
    &__icon2{
        margin-right: 15px;
    }
}


 /* MENU PRINCIPAL / CHOIX DU RESTAURANT */

.nav {
    @include flex-center;
    padding: 20px 0px;
    background-color: rgb(225, 223, 223);
    gap: 15px;
}

.resa__cont{
    text-align: center;
    background-color: rgb(249, 246, 246);
    h2{
        padding: 35px 80px 0px 80px;
    }
    p{
        padding: 20px 60px;
    }
    .resa__button{
        border-radius: 40px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

button{
    width: 230px;
    padding: 20px;
    border-radius: 30px;
    border: none;
    text-align: center;
    color: $bg_color;
    font-weight: bold;
    background: linear-gradient(330deg, $primary_color, $secondary_color);
    @include box-shadow;
    opacity: 1;
    &:hover{
        opacity: 0.9;
        cursor: pointer;
    }
}

.fonction{
    margin: 40px 0px;
    padding: 0px 30px;
    &__box{
        @include flex-center;
        justify-content: flex-start;
        width: 100%;
        padding: 25px;
        margin-top: 30px;
        border-radius: 20px;
        background-color: rgb(249, 246, 246);
        box-shadow: 5px 5px 20px grey;
        p{
            margin-left: 30px;
            font-size: 17px;
            font-weight: bold;
        }
    }

    &__icon{
        font-size: 1.3em;
        padding-left: 20px;
        margin-left: 10px;
    }
    &__icon__purple{
        font-size: 1.3em;
        color: $primary_color;
        padding-left: 20px;
        margin-left: 10px;
    }
}

.chiffre{
    background-color: $primary_color;
    color: $bg_color;
    border: 1px solid grey;
    padding: 2px 11px 6px 11px;
    border-radius: 50%;
    font-size: 1.1em;
    margin-left: -40px;
}

.cursor{
    font-size: 1.3em;
}

.restau{
    background-color: rgb(249, 246, 246);
    margin-top: 50px;
    width: 100%;
    padding: 0px 30px 10px 30px;
    h2{
        margin-left: 20px;
        margin-bottom: 20px;
        padding-top: 40px;
    }
    &__text{
        @include flex-center;
        justify-content: space-between;
        padding: 0px 20px;
    }
    &__box{ 
        @include box-shadow;
        position: relative;
        width: 100%;
        height: 280px;
        border-radius: 20px;
        background-color: $bg_color;
        line-height: 27px;
        margin: 30px 0px 40px 0px;
        
        a{
            text-decoration: none;
            list-style-type: none;
            color: inherit;
        }
    }
    &__photo{
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        height: 75%;
        object-fit: cover;
    }
}

.nouveau{
    @include flex-center;
    height: 40px;
    width: 120px;
    background-color: $tertiary_color;
    color:  rgb(27, 144, 122);
    position: absolute;
    right: 20px;
    top: 20px;
}

.menu__title{
    position: relative;
    h2{
        margin-right: auto;
        font-family: 'Shrikhand', sans-serif;
        font-size: 30px;
    }
}
.heart{
    color: black;
    font-size: 2em;
    cursor: pointer;
}

.empty{
    margin-right: 10px;
    margin-left: 10px;
    transition: all 2000ms;
    z-index: 1;
    opacity: 1;
    &:hover{
        opacity: 0;
        + .fill{
            opacity: 1;
        }
    }
}

.fill{
    position: absolute;
    right: 30px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(130deg, $primary_color, $secondary_color);
    opacity: 0;
    transition: all 2000ms;
}

/* MENUS RESTAURANTS*/


.header__cont{
    @include flex-center;
    justify-content: flex-start;
    h1{
        margin: auto;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}

.fleche{
    margin-left: 15px;
    font-size: 1.5em;
}

.photo__box{
    height: 300px;
    width: 100%;
    margin-bottom: -30px;
}

.photo__menu{
    height: 100%;
    width: 100%;
    object-fit:cover;
    object-position: center;
}

@keyframes menu__translate{
    from {
        transform: translateY(10%);
        opacity: 0.1;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}


.menu{
    border-radius: 50px 50px 0px 0px;
    &__title{
        @include flex-center;
        justify-content: flex-end;
        max-width: 1440px;
        padding: 30px 20px;
        background-color: $bg_color;
        border-radius: 30px 30px 0px 0px;
        h1{
            font-family: 'Shrikhand';
        }
    }
    &__cont{
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 40px;
        padding: 0px 30px;
        h3{
            border-bottom: 4px solid;
            border-color: $tertiary_color;
            padding-bottom: 5px;
            width: 60px;
        }
    }
    &__total__box{
        @include flex-center;
        flex-direction: column;
        gap: 25px;
        animation: menu__translate;
        animation-duration: 1.5s;
    } 
    &__box{
        @include flex-center;
        @include box-shadow;
        justify-content: flex-start;
        width: 100%;
        height: 80px;
        border-radius: 25px;
        line-height: 25px;
        overflow: hidden;
        transform: rotate(360deg);
        &:hover .menu__carre{
            margin-right: 0px;
            min-width: 100px;
            transition: all 700ms;
            .carre__icon{
                transform: rotate(360deg);
            }
        }
    }
    &__text{
        margin-left: 20px;
        padding-right: 20px;
        white-space: nowrap;
        overflow: hidden;
        p, h4{
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &__prix{
        margin-left: auto;
        margin-top: 25px;
        padding-right: 45px;
        padding-left: 10px;
    }
    &__carre{
        @include flex-center;
        transition: all 500ms;
        min-width: 0px;
        height: 100%;
        background-color: $tertiary_color;
        border-radius: 0px 25px 25px 0px;
        margin-right: -30px;
    }
}

.entree{
    animation-delay: 0.1s;
}
.plat{
    animation-delay: 0.3s;
}
.dessert{
    animation-delay: 0.5s;
}

.carre__icon{
    transition: all 700ms;
}
.check__icon{
    padding: 5px;
    border-radius: 50%;
    color: $tertiary_color;
    font-size: 1.2em;
    background-color: $bg_color;
}

.commander{
    text-align: center;
    margin-bottom: 40px;
}


/* MEDIA QUERIES */

@media screen and (min-width: 850px) {
    
     /* MENU PRINCIPAL / CHOIX DU RESTAURANT */

    .fonction__cont{
        display: flex;
        justify-content: space-between;
    }
    .fonction__box{
        width: 30%;
    }
    
    .restau{
        h2{
            margin-bottom: 10px;
        }
        &__cont{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
        &__box{ 
            width: 46%;
            margin: 25px 0px;
        }
    }

/* MENUS RESTAURANTS*/


    .menu__cont{
        margin-bottom: 60px;
    }

    .menu__total__box{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menu__box{
        width: 30%;
    }

    .empty{
        margin-left: 40px;
        }

}