@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
:root {
  --primary_color: #9356DC;
  --secondary_color: #FF79DA;
  --tertiary_color: #99E2D0;
  --booki_radius: 20px;
  --shadow_hover: 5px 5px 30px rgb(88, 83, 83);
  --bg_color: white;
}

@-webkit-keyframes menu__translate {
  from {
    transform: translateY(10%);
    opacity: 0.1;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes menu__translate {
  from {
    transform: translateY(10%);
    opacity: 0.1;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site_entier {
  height: 100vh;
  max-width: 1440px;
  background-color: var(--bg_color);
  font-family: "Raleway", sans-serif;
  margin-left: auto;
  margin-right: auto;
}
.site_entier h1 {
  font-size: 35px;
}
.site_entier h2 {
  font-size: 24px;
}
.site_entier h3 {
  font-size: 17px;
}

header {
  text-align: center;
  padding: 10px;
  font-family: "Shrikhand";
}

.nav {
  display: flex;
  padding: 20px 0px;
  background-color: rgb(225, 223, 223);
  align-content: center;
  justify-content: center;
  gap: 15px;
}

.resa__cont {
  text-align: center;
  background-color: rgb(249, 246, 246);
}
.resa__cont h2 {
  padding: 35px 80px 0px 80px;
}
.resa__cont p {
  padding: 20px 60px;
}
.resa__cont .resa__button {
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
}

button {
  width: 230px;
  padding: 20px;
  border-radius: 30px;
  border: none;
  text-align: center;
  color: white;
  font-weight: bold;
  background: linear-gradient(330deg, var(--primary_color), var(--secondary_color));
  box-shadow: 5px 5px 10px rgb(128, 128, 128);
  opacity: 1;
}
button:hover {
  opacity: 0.9;
}

.fonction {
  margin: 40px 0px;
  padding: 0px 30px;
}

.fonction__box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 25px;
  margin-top: 30px;
  border-radius: 20px;
  background-color: rgb(249, 246, 246);
  box-shadow: 5px 5px 30px grey;
}
.fonction__box h3 {
  margin-left: 30px;
}
.fonction__box i {
  margin-left: 10px;
}

.chiffre {
  background-color: var(--primary_color);
  color: white;
  border: 1px solid grey;
  padding: 2px 11px 6px 11px;
  border-radius: 50%;
  font-size: 1.1em;
  margin-left: -40px;
}

.fonction__icon {
  font-size: 1.3em;
  padding-left: 20px;
}

.cursor {
  font-size: 1.3em;
}

.fonction__icon__purple {
  font-size: 1.3em;
  color: var(--primary_color);
  padding-left: 20px;
}

.restau {
  background-color: rgb(249, 246, 246);
  margin-top: 50px;
  width: 100%;
  padding: 0px 30px 10px 30px;
}
.restau h2 {
  margin-left: 20px;
  margin-bottom: 20px;
  padding-top: 40px;
}

.restau__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.restau__box {
  width: 100%;
  height: 280px;
  border-radius: 20px;
  background-color: rgb(249, 246, 246);
  box-shadow: 5px 5px 30px grey;
  line-height: 27px;
  margin: 30px 0px 40px 0px;
  position: relative;
}
.restau__box a {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

.restau__photo {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nouveau {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  background-color: rgb(175, 235, 213);
  color: rgb(27, 144, 122);
  position: absolute;
  right: 20px;
  top: 20px;
  font-weight: bold;
}

.heart {
  color: black;
  font-size: 2em;
}

.empty {
  margin-right: 10px;
  transition: all 2000ms;
  z-index: 1;
  opacity: 1;
}
.empty:hover {
  opacity: 0;
}
.empty:hover + .fill {
  opacity: 1;
}

.fill {
  position: absolute;
  right: 30px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(130deg, var(--primary_color), var(--secondary_color));
  opacity: 0;
  transition: all 2000ms;
}

footer {
  background-color: rgb(72, 70, 70);
  color: white;
  height: 205px;
  line-height: 30px;
}
footer h3 {
  font-family: Shrikhand;
  padding: 22px 0px 15px 0px;
}

.foot__cont {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.foot__cont a {
  text-decoration: none;
  color: white;
}

.foot__box {
  display: flex;
  align-items: center;
}

#foot__icon1 {
  margin-right: 21px;
}

#foot__icon2 {
  margin-right: 15px;
}

/* MENU CSS */
.header__cont {
  display: flex;
  align-items: center;
}
.header__cont h1 {
  margin: auto;
}
.header__cont a {
  text-decoration: none;
  color: inherit;
}

#fleche {
  margin-left: 15px;
  font-size: 1.5em;
}

.photo__box {
  height: 300px;
  width: 100%;
  z-index: 1;
}

.photo_menu {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.menu__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px;
}
.menu__title h1 {
  font-family: "Shrikhand";
}

.menu {
  padding: 20px;
  border-radius: 50px 50px 0px 0px;
  z-index: 2;
}

.menu__cont {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 40px;
}
.menu__cont h2 {
  border-bottom: 4px solid;
  border-color: var(--tertiary_color);
  padding-bottom: 5px;
  width: 60px;
}

.menu__total__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  -webkit-animation: menu__translate;
          animation: menu__translate;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.box1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.box2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.box3 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.menu__box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  box-shadow: 5px 5px 20px grey;
  border-radius: 25px;
  line-height: 25px;
  overflow: hidden;
  transform: rotate(360deg);
}
.menu__box:hover .menu__carre {
  margin-right: 0px;
  min-width: 100px;
  transition: all 700ms;
}
.menu__box:hover .menu__carre .carre__icon {
  transform: rotate(360deg);
}

.menu__text {
  margin-left: 20px;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
}
.menu__text p, .menu__text h3 {
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu__prix {
  margin-left: auto;
  margin-top: 25px;
  padding-right: 45px;
  padding-left: 10px;
  font-weight: bold;
}

.menu__carre {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms;
  min-width: 0px;
  height: 100%;
  background-color: var(--tertiary_color);
  border-radius: 0px 25px 25px 0px;
  margin-right: -30px;
}

.carre__icon {
  transition: all 700ms;
}

.check_icon {
  padding: 5px;
  border-radius: 50%;
  color: var(--tertiary_color);
  font-size: 1.2em;
  background-color: white;
}

/*-----------------------------*/
.commander {
  text-align: center;
  margin-bottom: 20px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 850px) {
  .fonction__cont {
    display: flex;
    justify-content: space-between;
  }
  .fonction__box {
    width: 30%;
  }
  .restau {
    background-color: rgb(249, 246, 246);
    margin-top: 50px;
    width: 100%;
    padding: 0px 10px 30px 10px;
  }
  .restau h2 {
    margin-bottom: 10px;
  }
  .restau__cont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .restau__box {
    width: 46%;
    margin: 25px 0px;
  }
  /*------------------Menu*/
  .menu__cont {
    margin-bottom: 60px;
  }
  .menu__total__box {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .menu__box {
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */